




/***CONTACT RULES***/
.contacts {
    overflow-y: scroll;

}


.contact {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .contact img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contacts h3 {
    font-size: 15px;

  }

  .contacts p {
    font-size: 12px;

  }

  .personale{
    background-color:#EAEAEA ;
    display: flex;
    flex-direction: row;
  }

  .personale i {
    display: flex;
    margin: 8px;

  }

  .icone-personale{
    display: flex;
    margin-left: 320px;
    font-size: 20px;
    color:#80868A;
  }

  .personale img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .notifiche {
    background-color: #8EDAFC;
  }

  .notifiche h5 {
    font-size: 15px;
  }

  .notifiche h6 {
    font-size: 13px;
    color: grey;
    text-decoration: underline;
  }


  /***CHAT RULES***/

  .chat {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px;
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
  }
  .message {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
  }
  .sent {
    background-color: #D1ECBC;
    color: black;
    align-self: flex-end;
  }
  .received {
    background-color: #F2F2F2;
    color: black;
    align-self: flex-start;
  }

  
  form {
    display: flex;
    margin-top: 600px;
    background-color: white;
    width: 100%;
    padding: 10px;
    background-color: #EDEDED;
  }


  form input {
    flex: 1;
    padding: 10px;
    border-radius: 20px; 
    border-color: white ;
    margin-right: 10px;
    margin-left: 10px;
}  

.chat button {
    border-color: white;
    border-radius: 100%;
    padding: 10px;
}

/**ICON RULES**/
.smile {
    border-color: white;
    border-radius: 100%;
    padding: 5px;
    font-size: 20px;
    color:#AAAEB0 ;
    margin-top: 15px;
    margin-bottom: 15px;
}

.microphone{
    margin-top: 15px;
    font-size: 20px;
    color:#AAAEB0 ;
    padding: 5px;
    margin-bottom: 15px;
}

.cella-search{
    background-color:#EAEAEA ;
    padding: 10px;
}

.bell{
    border: 3px solid white;
    border-radius: 100%;
    font-size: 20px;
    background-color: white;
}


  